aniso8601==9.0.1
appdirs==1.4.4
argcomplete==1.12.3
attrs==21.2.0
bcrypt==3.2.0
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.4.2
blivet-gui==2.3.0
boto3==1.19.7
botocore==1.22.7
Brlapi==0.8.2
Brotli==1.0.9
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
chrome-gnome-shell==0.0.0
click==8.0.1
cryptography==3.4.7
cupshelpers==1.0
cycler==0.10.0
dasbus==1.6
dbus-python==1.2.18
decorator==5.0.9
distlib==0.3.2
distro==1.6.0
docker==5.0.2
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
dropbox==11.23.0
duplicity==0.8.21
fasteners==0.14.1
fedora-third-party==0.8
filelock==3.0.12
Flask==2.0.2
Flask-RESTful==0.3.9
fonttools==4.26.1
fros==1.1
fs==2.4.11
future==0.18.2
google-api-core==2.1.1
google-api-python-client==1.6.7
google-auth==2.3.3
google-auth-httplib2==0.0.3
googleapis-common-protos==1.53.0
gpg==1.15.1
grpcio==1.39.1
grpcio-gcp==0.2.2
httplib2==0.19.1
humanize==0.5.1
idna==3.2
img2pdf==0.4.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==3.2.0
kiwisolver==1.3.2
langtable==0.0.56
libcomps==0.1.18
libvirt-python==7.6.0
lockfile==0.12.2
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.0
matplotlib==3.5.0rc1
mercurial==5.9.3
munkres==1.1.2
nftables==0.1
numpy==1.21.1
oauth2client==4.1.3
olefile==0.46
packaging==21.0
paramiko==2.7.2
Paste==3.5.0
pdfarranger==1.7.1
pexpect==4.8.0
pid==2.2.3
pikepdf==3.1.1
Pillow==8.4.0
platformdirs==2.2.0
ply==3.11
powerline-status==2.8.2
productmd==1.33
protobuf==3.14.0
ptyprocess==0.6.0
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.44.1
PyDrive==1.3.1
pyenchant==3.2.2
pygit2==1.6.1
PyGObject==3.42.0
pyinotify==0.9.6
pykickstart==3.34
PyNaCl==1.4.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
PyQt5==5.15.6
PyQt5-sip==12.9.0
pyrsistent==0.18.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.1
python-dotenv==0.18.0
python-gettext==4.0
python-manatools==0.0.3
python-meh==0.50
python-vlc==3.0.11115
pytz==2021.3
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
requests==2.26.0
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.17.0
rsa==4.7.2
s3transfer==0.5.0
scipy==1.7.0
scour==0.38.1
selinux==3.3
sepolicy==3.3
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.8.2
six==1.16.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.2
soupsieve==2.3.1
stone==3.2.1
systemd-python==234
Tempita==0.5.2
texttable==1.6.2
uritemplate==3.0.1
urllib3==1.26.6
virtualenv==20.8.1
websocket-client==1.1.0
Werkzeug==2.0.2
youtube-dl==2021.6.6
